	<div align="center">
		<form ng-submit="addStudent()">
	<table>
       <tr> <td>USN:</td><td>
        <input type="text"  id="usn" ng-model="student.usn"></td></tr>
	</tr>        
	<tr> <td>Name:</td><td>
        <input type="text"  id="name" ng-model="student.name"></td></tr>
        <tr> <td>Sex:</td><td>
        <input type="text"  id="sex" ng-model="student.sex"></td></tr>
        <tr> <td>Department:</td><td>
        <input type="text"  id="dept" ng-model="student.dept"></td></tr>
        <tr> <td>Semester:</td><td>
        <input type="text"  id="semester" ng-model="student.semester"></td></tr>
        <tr> <td>College:</td><td>
        <input type="text"  id="college" ng-model="student.college"></td></tr>
        <tr> <td>Contact No. :</td><td>
        <input type="text"  id="contact" ng-model="student.contact">
	</td></tr>
	<tr> <td>
      <button type="submit" style="color:#5bc0de;" >Save</button>
      <a href="#/students" > Cancel</a></td></tr>
</table> 
   </form>		
  </div>
